pipeline/plcopyrawtoclence.json
{
	"name": "plcopyrawtoclence",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "process each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copyjsontocsv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['YearMonth']"
											},
											"sink": {
												"name": "SalesMonth"
											}
										},
										{
											"source": {
												"path": "$['StoreName']"
											},
											"sink": {
												"name": "OnlineRetailer"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Product']"
											},
											"sink": {
												"name": "Title"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Vintage']"
											},
											"sink": {
												"name": "Vintage"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Variety']"
											},
											"sink": {
												"name": "Variety"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Score']"
											},
											"sink": {
												"name": "Score"
											}
										},
										{
											"source": {
												"path": "$['Sales']['SalesPrice']"
											},
											"sink": {
												"name": "ListPrice"
											}
										},
										{
											"source": {
												"path": "$['Sales']['SalesQty']"
											},
											"sink": {
												"name": "Quantity"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "absjsonraw_verde_perm",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "abs_clense_verde_peram",
									"type": "DatasetReference",
									"parameters": {
										"destfilename": {
											"value": "@concat(substring(item().name,0 ,sub(length(item().name), 5) ),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "02_execute"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-05T12:43:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}